<div class= "container">
  <h1>Signup!</h1>
  <form action = '/signup' method = "POST">
    Name:<br>
    <input type = 'text' name = 'user[name]'><br>
    Password:<br>
    <input type = 'password' name = 'user[password]'><br>
    Confirm Password:<br>
    <input type = 'password' name = 'user[password_confirmation]'><br>
    <input type = 'submit' value = 'Signup!'>
  </form>
</div>
