<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/application.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
